{% extends "base.html" %}

{% block title %}
Index
{% endblock %}

{% block content %}

<p>Стоимость доставки 1000р, стоимость доставки за МКАД 1850р.</p>

<p>Выезд мастера — от 500р.</p>

<p>При оплате за наличный расчет, доставка осуществляется в день заказа, либо на следующий день. При безналичном расчете мы доставляем товар через 1-2 дня после поступления денег на расчетный счет. Время доставки можно обговорить с менеджером и обычно она осуществляется в первой или второй половине дня. Товар может быть доставлен по рабочим дням, с 11.00 до 18.00</p>

<p>Доставка осуществляется только по адресу, указанному при оформлении заказа.</p>

<p>При получении товара покупатель имеет право в присутствии курьера проверить внешний вид товара и комплектность поставки.</p>

<p>Курьер не уполномочен давать какие-либо консультации по техническим вопросам и эксплуатации товара, а так же производить пуско-наладочные работы и установку комплектующих. Если возникнут вопросы, звоните в офис, менеджеры проконсультируют или отправят к вам специалиста, компетентного в данном вопросе, соответственно это платная услуга.</p>

<p>По возможности, проверка и оплата товара должны быть произведены в короткий срок, чтобы не задерживать курьера.</p>

<p>Более подробную информацию по доставке, Вы можете получить у наших менеджеров, по телефонам: +7(926)926-01-22.</p>

{% endblock %}
