{% extends "base.html" %}

{% block title %}
Index
{% endblock %}

{% block content %}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
<!--    <h1 class="display-4 fw-normal">Картридж</h1>-->
  <img src="{{ url_for('static', filename='image/main_slider.jpg') }}" alt="" style="padding-top: 30px">
      </div>
  <br>

<p>
  Ваша оргтехника выдает неудовлетворительное качество печати? На бумаге появились дефекты, проявляемые в виде темных полос с левой стороны листа, фона по всей поверхности, размытости изображений? Пора заправить картридж, а возможно отремонтировать и восстановить — и тем самым вернуть к жизни печатное устройство! Компания «Мастер заправки» предлагает такого рода услуги на весьма выгодных условиях: мы осуществляем профессиональную заправку цветных и монохромных, оригинальных и совместимых картриджей для лазерных принтеров и МФУ любых производителей в Москве в короткие сроки по привлекательным ценам.
</p>

<p>Заправка и восстановление картриджей силами нашей компании это:</p>
<ul>
  <li>использование в работе только оригинальных тонеров, чернил, запасных узлов и частей;</li>
  <li>обязательная чистка от остатков старого тонера рабочих узлов, а отсека для мусора в том числе и от других загрязнений;</li>
  <li>гарантия высокого качества выполнения услуг;</li>
  <li>накопительная система скидок;</li>
  <li>возможность вызова специалистов на дом либо в офис;</li>
  <li>возможность воспользоваться услугой срочной заправки расходников.</li>
</ul>

<p>С нашей помощью Вы быстро сможете возобновить работу Вашей оргтехники и вновь наслаждаться безупречной четкостью печати.</p>

<p>Кроме того мы предоставляем профессиональные услуги по ремонту:</p>
<ul>
  <li>планшетов и телефонов;</li>
  <li>компьютеров, ноутбуков и мониторов;</li>
  <li>принтеров и МФУ.</li>
</ul>

<p>Мы дорожим своей репутацией, ценим каждого нашего клиента и потому готовы выполнить работы, связанные с восстановлением работоспособностью Вашей техники любой сложности, за которые другие уже не берутся.</p>

<p>Также мы выполняем услугу «Печать на заказ» с цветной и черно-белой распечаткой документов, чертежей, фото в формате в удобном для Вас формате.</p>

<p>При необходимости Вы всегда можете воспользоваться предложениями нашего интернет-магазина и купить любой новый оригинальный либо совместимый картридж с гарантией качества</p>

<p>За годы нашей деятельности количество наших клиентов возросло в сотни раз. Мы уверены, что после обращения к нам, и Вы пополните их ряды.</p>
<!--  <form action="/" method="POST">-->
<!--    <div class="container">-->
<!--      <div class="row form_index">-->
<!--        <form action="/" id="form1" method="POST">-->
<!--          <input class="col-10" type="text" id="phone" name="phone" placeholder="Телефон" value="{{ phone }}">-->
<!--          <input class="col-2 btn btn-dark" id="test_send" type="submit" name="btn_check_phone" value="Проверить">-->
<!--          <div id="msg"></div>-->
<!--        </form>-->
<!--        <input type="text" name="name"  id="name" placeholder="Имя" class="col-12" value="{{ name }}">-->
<!--        <input type="text" name="price_name"  id="price_name" placeholder="Наименование услуги" class="col-6">-->
<!--        <input type="text" name="price"  id="price" placeholder="Цена" class="col-6">-->
<!--        <textarea name="comment" id="comment" placeholder="Коментарии" class="form-control"></textarea>-->
<!--        <input type="submit" name="btn_check_phone" class="btn btn-success" value="Отправить">-->
<!--      </div>-->
<!--    </div>-->
<!--</form>-->
<!--<br>-->
<!--<table class="main_table">-->
<!--  <tr style="padding: 20px;">-->
<!--    <th>name</th>-->
<!--    <th>phone</th>-->
<!--    <th>Цена</th>-->
<!--    <th>Дата</th>-->
<!--    <th>comment</th>-->
<!--  </tr>-->
<!--&lt;!&ndash;  {% for row in all_clients %}&ndash;&gt;-->
<!--&lt;!&ndash;  <tr>&ndash;&gt;-->
<!--&lt;!&ndash;    <td>{{ row[0] }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;    <td>{{ row[1] }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;    <td>{{ row[2] }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;    <td>{{ row[3] }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;    <td>{{ row[4] }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;  </tr>&ndash;&gt;-->
<!--&lt;!&ndash;  {% endfor %}&ndash;&gt;-->
<!--</table>-->


{% endblock %}